@font-face { font-family: AvenirNext; font-weight:400;font-style:normal;font-display:auto;src:url("AvenirNext-Regular.woff2") format("woff2"),url("AvenirNext-Regular.woff") format("woff")}
@font-face { font-family: AvenirNext; font-weight:500;font-style:normal;font-display:auto;src:url("AvenirNext-Medium.woff2") format("woff2"),url("AvenirNext-Medium.woff") format("woff")}
@font-face { font-family: AvenirNext; font-weight:600;font-style:normal;font-display:auto;src:url("AvenirNext-Demi.woff2") format("woff2"),url("AvenirNext-Demi.woff") format("woff")}
@font-face { font-family: AvenirNext; font-weight:700;font-style:normal;font-display:auto;src:url("AvenirNext-Bold.woff2") format("woff2"),url("AvenirNext-Bold.woff") format("woff")}

body {
	font-size: 18px;
    line-height: 1.6em;
    font-weight: 400;
    margin-top: 1em;
    margin-bottom: 1em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #33475b;
    font-family: AvenirNext,Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
	font-size: 36px;
	font-weight: 700;
	line-height: 1.3em;
}

h2 {
	font-size: 32px;
	font-weight: 700;
	line-height: 1.3em;
}

h3 {
	font-size:  28px;
	font-weight: 600;
	line-height: 1.3em;
}

h4 {
	font-size:  22px;
	font-weight: 600;
	line-height: 1.3em;
}

small {
	font-size:  14px;
}

a {
	font-family: AvenirNext, Helvetica, Arial, sans-serif;
}

/* Helper classes
   ================================================================= */

.container {
	width:  1080px;
	margin: auto;
}

.btn {
	display: inline-block;
	padding: 0.4rem 1.7rem;
	border-radius: 0.1875rem;
	background-color: #ff7a59;
	color: #fff;
	border: 1px solid #ff7a59;
	transition: .3s ease-in-out;
	font-weight: 600;
    font-size: .85rem;
	line-height: 1.5em;
}

.btn--secondary {
	background-color: #fff;
	color: #ff7a59;
}

.btn--cta {
	font-size: 17px;
	padding: 1.5em 2em;
}

.align--right {
	float: right;
	margin-left:  1em;
}

.align--left {
	margin-right: 1em;
}

.align--center {
	margin: 0 0.5em;
}

.text-align--center {
	text-align: center;
}

.font--regular {
	font-weight:  400;
}

.font--medium {
	font-weight:  500;
}

.font--demi {
	font-weight:  600;
}

.font--bold {
	font-weight:  700;
}

.line-height--small {
	line-height: 1em;
}

.bg--grey {
	background-color: #f5f8fa;
}

.bg--green {
	background-image: linear-gradient(45deg,#00a4bd,#00bda5);
	color:  #fff;
}

.bg--darkblue {
	background-color: #2d3e50;
	color: #fff;
}

/* Sections, Rows & Columns
   ================================================================= */

.section__row {
	width:  1080px;
	margin: auto;
	padding: 2em 0;
}

.section__row--hero {
	padding:  0;
}

.col-1-2  {
	display: grid;
	grid-template-columns: 1fr 2fr;
	align-items: center;
}

.col-2-1  {
	display: grid;
	grid-template-columns: 2fr 1fr;
	align-items: center;
}

.col-2  {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
}

.col-3 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
}

.col-4 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	align-items: center;
}

ul.col-2 {
	display: block;
	column-count: 2;
}

/* Header
   ================================================================= */

header {
	box-shadow: 0 5px 5px 0 rgb(51 71 91 / 20%);
}

header .section__row {
	padding: 1rem 0 2rem;
}

.nav__top {
	padding-bottom: 1.8rem;
	font-size: 12px;
}

.nav__main {
	font-size: 18px;
}

.logo {
	font-size: 25px;
}

/* Blocks
   ================================================================= */

/**
 * Content Blocks
 */

.b-content {
	position: relative;
	width:  100%;
	padding: 4rem 0;
}

.b-content--header {
	width: 865px;
	margin:  auto;
	padding: 1rem 0 0;
	text-align: center;
}

.b-content--hero .b-content__text {
	max-width: 432px;
}

.b-content--hero .b-content__image img {
	position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    z-index: -1;
}

/**
 * Feature Blocks
 */

 .b-feature {
 	padding: 2rem;
 	background-color:  #fff;
 	box-shadow: 0 0 11px #eaf0f6;
 	
 }

 .b-feature:hover {
 	box-shadow: 0 10px 50px -5px rgb(51 71 91 / 12%);
 }

 .b-feature__title {
 	margin-top: 1rem;
 }

 .b-feature__description {
 	font-size: 0.8em;
 }

 .b-feature__list {
 	list-style: none;
 	padding-left: 0;
 	line-height: 2em;
 }

 .b-feature__list i {
 	color: #ff7a59;
 }

 .b-feature__cta {
 	display: block;
 	text-align: center;
 }

/**
 * Stat Blocks
 */

 .b-stat {
 	padding: 2em;
 	text-align: center;
 }

 .b-stat__main {
 	margin: 0;
 }

.b-stat__img img {
	max-width: 150px;
}

/* Homepage
   ================================================================= */

.home-product-features .col-3 {
	grid-gap: 2rem;
}

.home-stats {
	padding-bottom: 2rem;
}

.home-stats .col-4 > div  {
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
}

.home-stats .col-4  > div:nth-child(4n) {
	border-right: 0;
}

.home-stats .col-4  > div:nth-child(n + 5) {
	border-bottom: 0;
}

.home-footer .b-content {
	column-gap: 2rem;
}

.home-footer .col-4 img {
	max-width: 110px;
	padding: 1em;
}

/* Footer
   ================================================================= */

footer p {
	margin: 1.3em 0;
	font-weight: 600;
 	font-size: 14px;
}

footer ul {
	list-style: none;
	padding-left: 0;
 	font-size: 12px;
}

footer ul + p {
	margin-top: 2em;
}

footer .col-2,
footer .col-3 {
	align-items:  start;
}

.section__row.col-2 {
	grid-template-columns: 2fr 3fr;
	column-gap:  3em;
}

.footer-features {
	border-right: 1px solid #7c98b6;
}

.footer-extra {
	align-items: start;
}

.footer-social {
	position: relative;
	padding: 0;
	text-align: center;
}

.footer-social:before,
.footer-social:after {
	width: 36%;
    position: absolute;
    content: '';
    border-top: 1px solid #7c98b6;
    top: 43%;
    right:  0;
}

.footer-social:after {
    left: 0;
}

.footer-social li {
	display: inline;
	font-size: 1.35rem;
	padding: 1rem;
}

.footer-legal {
	text-align: center;
}

.footer-legal a {
	padding: 0 1rem;
	text-decoration: underline;
}
